/* Estilos generales */

/* Estilos para el header */
header {
    background-color: #222;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

header h1 {
    font-size: 24px;
}

/* Estilos para el menú de navegación */
nav {
    margin-left: 20px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #66ccff;
}

/* Ajustes para pantallas pequeñas */
@media only screen and (max-width: 768px) {
    header {
        padding: 10px;
    }

    nav {
        margin-left: 0;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }
}

/* Ajustes para pantallas muy pequeñas */
@media only screen and (max-width: 480px) {
    header h1 {
        font-size: 20px;
    }
}

/* Efectos y animaciones */
button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}
