header {
    background:  linear-gradient(to bottom right, #420d0d, #1a1a1a);
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

header h1 {
    justify-content: center;
}

header h2 {
    font-weight: 25%;
}

/* Estilos para el menú de navegación */
nav {
    margin-left: 20px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #66ccff;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

.contenedor-categorias {
    float: left;
    width: 20%;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.categoria {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1% 1% 1%;
    padding: 15px;
    background: linear-gradient(to bottom right, #420d0d, #1a1a1a);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    color: #fff;
    text-align: center;
}

.categoria img {
    width: 25%;
    border-radius: 30px;
    filter: brightness(90%) saturate(110%);
    transition: transform 0.5s ease;
}

.categoria:hover img {
    transform: scale(1.05);
}

.categoria h2 {
    width: 50%;
    font-size: 1.5em;
    margin-left: 10px;
}

.contenedor-productos {
    display: flex;
    flex-wrap: wrap;
    z-index: 2;
    justify-content: space-between;
    margin: 0 -10px;
}

.producto {
    float: left;
    width: 20%;
    margin: 1%;
    padding: 10px;
    background: linear-gradient(to bottom right, #420d0d, #1a1a1a);
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    color: #fff;
}

.producto img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    filter: brightness(90%) saturate(110%);
    transition: transform 0.5s ease;
}

.producto:hover img {
    transform: scale(1.05);
}

.producto h2 {
    font-size: 1.5em;
    margin-top: 10px;
}

.producto p {
    font-size: 1em;
    margin-top: 10px;
}

.producto a {
    display: block;
    color: #66ccff;
    text-decoration: none;
    font-weight: bold;
    margin-top: 20px;
    transition: color 0.3s ease;
}

.producto a:hover {
    color: #ffcc00;
}

.producto::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.05));
    z-index: -1;
    pointer-events: none;
    animation: pulse 2s infinite alternate;
}

/* Estilos para el footer */
.footer {
    background: linear-gradient(to bottom right, #420d0d, #1a1a1a);
    padding: 50px 0;
    text-align: center;
    position: relative;
  }

/* Estilos para el contenedor de íconos */
.container-iconos {
    display: flex;
    justify-content: center;
  }
  
  .container-iconos figure {
    margin: 0 10px;
  }
  
  
  /* Estilos para el texto en el footer */
  .footer p {
    font-size: 18px;
    font-weight: bold;
  }
  
  /* Estilos para el enlace en el footer */
  .footer a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer a:hover {
    color: #ff00ff; /* Color neon */
  }
  
  /* Estilos para el efecto de sombra */
  .footer::before {
    content: "";
    position: absolute;
    top: -5px;
    left: 0;
    right: 0;
    bottom: -5px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    z-index: -1;
    transition: all 0.3s ease;
  }
  
  .footer:hover::before {
    top: 5px;
    bottom: 5px;
  }
  
  /* Estilos para los elementos del footer con movimiento */
  .footer p,
  .footer a {
    display: inline-block;
    position: relative;
    transition: transform 0.3s ease;
  }
  
  .footer p:hover,
  .footer a:hover {
    transform: translateY(-5px); /* Movimiento hacia arriba */
  }
  

/* Efectos y animaciones */
button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}


@keyframes pulse {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.02);
    }
}

/* Estilos para pantallas medianas */
@media only screen and (max-width: 1024px) {
    .producto {
        float: left;
        width: 25%;
    }
}

@media only screen and (max-width: 450px) {
    .producto {
        float: none;
        width: 100%;
    }

    header {
        padding: 10px;
    }

    nav {
        margin-left: 0;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }
}